body
{
    background:url('../images/sfzy.jpg');
    margin-left:0;
    margin-top:0;
}

#focus
{
    position: absolute;
    top: 165px;
    left: 116px;
    width: 339px;
    height: 182px;
    z-index: -1;
    -webkit-transition-duration: 200ms;
    -webkit-transition-property: all;
}
